{% extends "template/shvatka.twig" %}

{% block title %}{% endblock %}

{% block content %}
    
    Одно из трёх:
    <ul>
        <li>либо текущая игра пройдена вами, но ещё не закончена другими</li>
        <li>либо ваша команда не заявлена на эту игру</li>
        <li>либо вы лично не сделали взнос</li>
    </ul>
    
{% endblock %}