{% extends "template/shvatka.twig" %}

{% block title %}{% endblock %}

{% block content %}

    <center>
        <div class="well"><b>Название игры: {{ game.g_name }}</b></div>
        Поздравляем. Игра пройдена за {{ duration }}
    </center>
    
{% endblock %}