{% extends "template/organization.twig" %}

{% block header %}Настройка игры{% endblock %}

{% block content %}
    
    {% include 'module/game/_form.twig' %}
    {% if deleted %}Игра удалена.<br /><br />{% endif %}
    
    {% if game is not empty %}
        
        {% if updated %}Изменения в настройки игры внесены.{% endif %}
        {% if created %}Игра создана.{% endif %}
        <br /><br />
        
        <form action="/shvatka">
            <input name="act" type="hidden" value="module">
            <input name="module" type="hidden" value="reps">
            <input name="cmd" type="hidden" value="addg">
            <input name="delg" type="hidden" value="1">
            <input name="y" type="hidden" value="1">
            <input type="submit" value="Удалить игру">
            <span class="help-block text-danger">После удаления игры все команды и игроки переводятся в состояние "деньги НЕ сдал"</span>
        </form>
        

    {% endif %}

{% endblock %}