/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.09.2016, 4:24:20
    Author     : Nikita Dezzpil Orlov <nikita@shvatka.ru>
*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 12px;
    font-family: Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
    font-size: 13px;
}
ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.list-inline li {
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}
.list-inline li:first-child {
    margin: 0 3px 0 0;
}
.list-inline li:last-child {
    margin: 0 0 0 3px;
}

table {
    width:100%;
    margin-bottom: 14px;
}
th {
    color: gray;
    font-weight: normal;
    text-align: inherit;
}

form {
    margin-bottom: 14px;
}
label {
    display: block;
}
input, select, textarea, button {
    width: 100%;
    padding: 5px;
    border: solid 1px gray;
}
input[type="checkbox"] {
    width: auto;
}

span.help-block {
    font-size: 0.8em;
    color: #505050;
}
.form-group {
    margin-bottom: 7px;
}
.text-danger {
    color: red !important;
}

.well {
    margin-bottom: 14px;
}

.btn.btn-danger {
    background-color: #ff4040;
    color: white;
    border-color: red;
}
